<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scovia's blog</title>
</head>
<body>
    <div>
        <h1><a href=".">Django blog</a></h1>
    </div>

    <div>
        <p>Published on 24.05.2020</p>
        <h2><a href = "">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quis error maiores ratione excepturi harum expedita debitis reiciendis similique voluptas illo, aut dolorem minima iste sapiente sit a fugit unde?</p>
    </div>

    <div>
        <p>Published on 24.06.2020</p>
        <h2><a href = "">My Second post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quis error maiores ratione excepturi harum expedita debitis reiciendis similique voluptas illo, aut dolorem minima iste sapiente sit a fugit unde?</p>
    </div>
</body>
</html>